groups:
- name: infra
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "Servidor fora do ar"
      description: "O alvo {{ $labels.instance }} não está respondendo."

  - alert: HighCPU
    expr: 100 - (avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[1m])) * 100) > 80
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "CPU alta"
      description: "CPU acima de 80% em {{ $labels.instance }}."